*, *::before, *::after {
  box-sizing: border-box;
}
table {
  border-spacing: 0;
}

.placeholder {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;

  color: rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 90%;
}

.overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hide {
  visibility: hidden;
}

.number {
  text-align: center;
  min-width: 2em;
}

.aggregate {
  background-color: rgba(173, 216, 230, 0.44);
}

.shorthand {
  text-transform: uppercase;
}

.ability-attributes {
  position: relative;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  margin: 2px 4px;
  border:  0;
  background-color: lightblue;
}

.scrubbable-input {
  border: 0;
  background:  transparent;
}

.scrubbable:hover,
.highlight {
  background-color: orange;
}

.char-fact {
  display: table-row;
}

.char-fact .descriptor {
  display: table-cell;
}

.char-fact .text-input {
  display: table-cell;
}

.char-document{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: -1em 0 0 -1em;
}

.char-cell {
  min-width: 20em;
  flex: 1 1 30%;
  margin: 1em 0 0 1em;
  background-color: lightblue;
  border-radius: 3px;
}

.char-info-part {
/*   background: lightblue; */
  padding: .8em 1em 0;
  border-radius: 3px;
}

#content {
  margin: 2em auto;
  width: 80%;
}


.char-info-part::after {
    content:  '\00a0';
    display: block;
    margin-top: 1em;
    height: 0;
    visibility: hidden;
}