.placeholder {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;

  color: rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 90%;
}

.overlay {
    z-index: 1000;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.number {
  padding: 2px 10px;
  text-align: center;
}

.aggregate {
  background-color: rgba(173, 216, 230, 0.44);
}

.shorthand {
    text-transform: uppercase;
}

.increment:before {
  content: '+'
}
.decrement:before {
  content: '-'
}

.abilities {
  border-spacing: 4px;
}

.ability-attributes {
    position: relative;
}


.btn {
    display: inline-block;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    margin: 2px 4px;
    border:  0;
    background-color: lightblue;
}


.scrubbable-input {
    border: 0;
    background:  transparent;
}

.scrubbable:hover {
  background-color: orange;
}
